.preorder-section {
    margin-top: 20px;
}

.preorder-section label {
    display: block;
    margin-bottom: 5px;
}

.preorder-section input {
    width: 100%;
    padding: 10px;

}

.preorder-section button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: black !important;
    border: none;
    cursor: pointer;
}

.preorder-section button:hover {
    background-color: #45a049;
}

.timepicker-dropdown {
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    position: relative;
    z-index: 1000;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.asap {
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menu span {
    cursor: pointer;
}

.menu span.active {
    font-weight: bold;
    color: #007BFF;
}

.hours, .minutes {
    display: flex;
    flex-wrap: wrap;
}

.hours span, .minutes span {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 2px;
}

.hours span.active, .minutes span.active {
    background-color: #007BFF;
    color: white;
}

.hours span.disabled, .minutes span.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none; /* This will ensure the span is not clickable */
    text-decoration: line-through; /* Durchgestrichen */
}

.input-container {
position: relative;
display: flex;
align-items: center;
}

.input-container .icon-clock {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
pointer-events: auto; /* Ensures the icon is clickable */
display: flex;
align-items: center;
justify-content: center;
}

.input-container input {
width: 100%;
padding-right: 40px; /* Adds space for the icon */
margin-bottom: 5px;
border: 1px dotted #c8c8c8;
}

/* Optional: Adjust the size and color of the SVG icon */
.input-container svg {
width: 24px; /* Adjust the width as needed */
height: 24px; /* Adjust the height as needed */
fill: black; /* Makes the SVG color adapt to the current text color */
}
.opening-hours p {
margin-bottom: 6px;
}

span.next.arrow_triangle-right_alt {
font-size: 24px; /* Macht den Text oder das Icon größer */
cursor: pointer;
}

