/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


.custom-cart-button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-size: 1rem;

    left: 0;
    top: 2px;
    line-height: 1;
}

.custom-cart-button:hover {
   color: #884444;
}
/*======================= Neon Sign ==========================================================*/
.neon-sign {
    display: inline-block;
    position: relative;
    padding: 5px; /* Kleinere Polsterung */
    border: 2px solid rgba(255, 255, 255, 0.33); /* Roter Rahmen */
    border-radius: 15px; /* Kleinere abgerundete Ecken */
    transform: rotate(-6deg);
    animation: turnOnBorder 0.24s forwards step-end,
      flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s;
    margin-right: 20px; /* Abstand vom rechten Rand */
  }

  .open-text {
    font-family: 'Arial', sans-serif;
    font-size: 36px; /* Kleinere Schriftgröße */
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }

  .open-text:before,
  .open-text:after {
    content: 'Open';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .open-text:before {
    color: #0f0; /* Blauer Neon-Effekt */
    z-index: -1;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
  }

  .open-text:after {
    color: #fff;
    z-index: -2;
  }

  @keyframes neon-animation {
    from {
      text-shadow: 0 0 8px #0f0, 0 0 16px #0f0, 0 0 24px #0f0, 0 0 32px #0f0, 0 0 40px #0f0, 0 0 48px #0f0, 0 0 56px #0f0;
    }
    to {
      text-shadow: 0 0 4px #0f0, 0 0 8px #0f0, 0 0 12px #0f0, 0 0 16px #0f0, 0 0 20px #0f0, 0 0 24px #0f0, 0 0 28px #0f0;
    }
  }
/*======================= Product and Price Boxes ==========================================================*/
.price-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    display: flex;
    width: 66px;
    height: 66px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    transform: border-radius 2.5s ease;
    background: linear-gradient(to bottom, #fd4558, #c82333);
}

.price-box:hover {
    transform: translateY(-5px);
    border-radius: 20%; /* Rund machen beim Schweben */
}

.price-box-title {
    font-weight: lighter;
    text-align: center;
    font-size: xx-small;
}

.price-box-price {
    font-size: small;
}

@media (max-width: 767px) {
    .product-content .row {
        flex-direction: column;
    }

    .product-content .col-md-3,
    .product-content .col-md-9 {
        width: 100%;
    }
}



.zoom-effect {
    border-radius: 10px; /* Füge abgerundete Ecken hinzu */
}

.zoom-effect img {
    transition: transform 0.3s ease; /* Füge eine Transitions-Eigenschaft hinzu, um den Übergang weich zu gestalten */
}

.zoom-effect:hover img {
    transform: scale(1.2); /* Vergrößere das Bild um 20% */
}

.hot-icon::before {
    content: "Hot";
    background-color: #ff0000; /* Startfarbe */
    color: #ffffff; /* Textfarbe */
    padding: 4px 8px; /* Innenabstand */
    border-radius: 4px; /* Abgerundete Ecken */
    font-weight: bold; /* Fetter Text */
    animation: flicker 1s infinite alternate; /* Animationsdefinition */
}

@keyframes flicker {
    0% { background-color: #ff0000; } /* Startfarbe */
    100% { background-color: #ff4500; } /* Endfarbe */
}

/* CSS */
.vegan-icon::before {
    content: "V";
    font-size: 16px; /* Symbolgröße */
    color: #008000; /* Farbe für vegan */
    font-weight: bold; /* Fetter Text */
}


.halal-icon::before {
    content: "H";
    font-size: 16px; /* Symbolgröße */
    color: #008000; /* Farbe für Halal */
    font-weight: bold; /* Fetter Text */
    border-radius: 50%; /* Runde Form */
    background-color: #ffffff; /* Hintergrundfarbe des Kreises */
    display: inline-flex; /* Inline-Element verwenden */
    justify-content: center; /* Zentrierung des Inhalts horizontal */
    align-items: center; /* Zentrierung des Inhalts vertikal */
    width: 24px; /* Breite des Kreises */
    height: 24px; /* Höhe des Kreises */
}

.product-content {
    border: 0.5px solid #dfe5e9;
    margin-bottom: 4px;
    margin-top: 4px;
    background: #fff;
    padding: 4px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}


.product-content .product-image {
    display: flex;
    margin: 0;
    overflow: hidden;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
}


.product-content .product-detail {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.product-content .product-detail h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.product-content .product-detail h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.product-content .product-detail span.tag1 {
    border-radius: 50%;
    color: #3d0808;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8
}

.product-content .product-deatil span.discount {
    background-color: #71e134
}

.product-content .product-deatil span.hot {
    background-color: #fa9442
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.product-content .product-info {
    padding: 2px 8px 4px 20px;
}


.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-detail {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.product-entry .product-detail h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.product-entry .product-detail h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}



.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: #a90329
}

.shop-btn {
    position: relative
}


.description-tabs {
    padding: 30px 0 5px!important
}

.description-tabs .tab-content {
    padding: 10px 0
}

.product-detail {
    padding: 30px 30px 50px
}

.product-detail hr+.description-tabs {
    padding: 0 0 5px!important
}

.product-detail .carousel-control.left,
.product-detail .carousel-control.right {
    background: none!important
}

.product-detail .glyphicon {
    color: #3276b1
}

.product-deatil .product-image {
    border-right: 0px solid #fff !important
}

.product-detail .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-detail .name small {
    display: block
}

.product-detail .name a {
    margin-left: 0
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.product-deatil .price-container small {
    font-size: 12px
}

.product-deatil .fa-2x {
    font-size: 16px!important
}

.product-detail .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.product-deatil .certified {
    margin-top: 10px
}

.product-deatil .certified ul {
    padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
    border-right: none
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}


@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }
    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }
    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .product-content .product-image {
        border-right: 1px solid #dfe5e9
    }
    .product-content .product-info {
        position: relative
    }
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    }


    .price_box {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 0.3s ease;
    flex-direction: column;
    background: linear-gradient(to bottom, #fd4558, #c82333);
}

.price_box:hover {
    border-radius: 50%; /* Rund machen beim Schweben */

}

.price_box:hover .price_box_price {
    animation-name: wobble;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1; /* Animation nur einmal abspielen */
}

@keyframes wobble {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}

.price_box_title {
    font-weight: lighter;
    text-align: center;
    font-size: xx-small;
}

.price_box_price {
    font-weight: bold;
    text-align: center;
    font-family: auto;
}


/*======================= OpenHours Overlay and PreOrder ========================================================*/

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: transform 0.3s ease-out;
    opacity: 0;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

div#storePopup {
    backdrop-filter: blur(20px);
}


.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.modal.show {
    opacity: 1;
    z-index: 99999;
}

.modal-backdrop.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

h2.modal-title {
    text-align: center;
    text-transform: uppercase;
    color: #e60004;
    font-size: xx-large;
    font-weight: bolder;
}

.modal-body h4 {
    text-align: center;
    text-transform: uppercase;
    color: #e60004;
    font-size: large;
    padding-top: 6px;
}

.modal-body p {
    text-align: center;
    color: #000;
    font-size: medium;
    text-wrap: balance;
}


.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

.btn-infomodal {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #e60004;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn-infomodal i {
            margin-right: 8px; /* Space between icon and text */
            font-size: 20px; /* Adjust the size as needed */
            text-transform: none;
        }

        .btn-infomodal:hover {
            background-color: #333;
            color: white;
        }

.deliveryTimes {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.open_left {
    display: block;
    float: left;
    width: 10rem;
}

.open_right {
    display: block;
    float: right;
}

.opening-hours-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.opening-hours-item .day {
    flex: 1;
    text-align: left;
}

.opening-hours-item .hours {
    flex: 1;
    text-align: right;
}

.text-center {
    text-align: center; /* Zentriert den Inhalt */
}






