/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


.custom-cart-button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-size: 1rem;

    left: 0;
    top: 2px;
    line-height: 1;
}

.custom-cart-button:hover {
   color: #884444;
}
/*======================= Neon Sign ==========================================================*/
.neon-sign {
    display: inline-block;
    position: relative;
    padding: 5px; /* Kleinere Polsterung */
    border: 2px solid rgba(255, 255, 255, 0.33); /* Roter Rahmen */
    border-radius: 15px; /* Kleinere abgerundete Ecken */
    transform: rotate(-6deg);
    animation: turnOnBorder 0.24s forwards step-end,
      flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s;
    margin-right: 20px; /* Abstand vom rechten Rand */
  }

  .open-text {
    font-family: 'Arial', sans-serif;
    font-size: 36px; /* Kleinere Schriftgröße */
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }

  .open-text:before,
  .open-text:after {
    content: 'Open';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .open-text:before {
    color: #0f0; /* Blauer Neon-Effekt */
    z-index: -1;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
  }

  .open-text:after {
    color: #fff;
    z-index: -2;
  }

  @keyframes neon-animation {
    from {
      text-shadow: 0 0 8px #0f0, 0 0 16px #0f0, 0 0 24px #0f0, 0 0 32px #0f0, 0 0 40px #0f0, 0 0 48px #0f0, 0 0 56px #0f0;
    }
    to {
      text-shadow: 0 0 4px #0f0, 0 0 8px #0f0, 0 0 12px #0f0, 0 0 16px #0f0, 0 0 20px #0f0, 0 0 24px #0f0, 0 0 28px #0f0;
    }
  }
