.button-container {
    display: flex;
    gap: 10px;
    align-items: center;

}

.btn_1 {
    /* Stile für den ersten Button (Search) */
    color: #fff;
    border: none;
    cursor: pointer;
    /* Weitere Stilisierungen nach Bedarf */
}

.btn_2 {
    /* Stile für den zweiten Button (Standort abrufen) */
    padding: 10px 20px;
    background-color: #f3723b;
    color: #fff;
    border: none;
    cursor: pointer;
    /* Weitere Stilisierungen nach Bedarf */
}

.icon_pin {

    width: 24px;
    /* Passe die Breite nach Bedarf an */
    height: 24px;
    /* Passe die Höhe nach Bedarf an */
    display: inline-block;
    vertical-align: middle;
    /* Zentriere das Icon vertikal im Button */
    /* Weitere Stilisierungen nach Bedarf */
}

.custom-button {
    width: 38px;
    /* Breite des Symbols */
    height: 38px;
    /* Höhe des Symbols */
    border: none;
    /* Kein Rahmen */
    cursor: pointer;
    /* Zeige den Mauszeiger als Zeiger an */
    padding: 0;
    /* Kein Innenabstand */
    transition: transform 0.3s, background-color 0.3s;
    /* Übergangseffekt für flüssige Größenänderung und Farbwechsel */
}

.custom-button:hover {
    transform: scale(1.2);
    /* Skaliere den Button beim Überfahren mit der Maus */
    background-color: #f0f0f0;
    /* Ändere die Hintergrundfarbe des Symbols */
}

/* Stil für den Toast-Container */
/* Stil für das Toast-Element */
.toast-container {
position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
background-color: #333;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
z-index: 1000;
}
