.social-proof-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: none; /* Hidden by default */
}

.social-proof-container.active {
    display: block; /* Display when the active class is added */
}

.popup-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 99999;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
